@function px-to-rem($px, $base-font-size: 16px) {
    @return #{$px / $base-font-size}rem;
  }
  
  $header-color: rgb(252, 212, 232);
  
  body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: black;
  }
  
  .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: px-to-rem(10px) px-to-rem(50px);
      background-color: #fff;
      height: px-to-rem(64px); // Assuming 4rem is equivalent to 64px
  
      a {
          text-decoration: none;
  
          .logo {
              display: flex;
              flex-direction: column;
              align-items: center;
              font-weight: bold;
              
              .logo-winner {
                  font-size: px-to-rem(36px);
                  color: darken($header-color, 15%);
              }
              
              .logo-lash-studios {
                  font-size: px-to-rem(20px);
                  color: darken($header-color, 10%);
              }
          }
      }
    
      .search-container {
          display: flex;
        
          input, button {
              border: none;
              padding: px-to-rem(10px);
              border-radius: px-to-rem(20px);
              margin-right: px-to-rem(5px);
          }
          
          input {
              flex-grow: 2;
              width: px-to-rem(400px); // Assuming 25rem is equivalent to 400px
              background-color: rgba(128, 128, 128, 0.128);
          }
        
          button {
              background-color: $header-color;
              color: #fff;
              cursor: pointer;
              box-shadow: 0 px-to-rem(4px) px-to-rem(8px) rgba(0, 0, 0, 0.1);
          }
      }
    
      .nav-links {
          display: flex;
          gap: px-to-rem(32px); // Assuming 2rem is equivalent to 32px
  
          a {
              color: black;
              text-decoration: none;
          }
      }
    
      .icons {
          display: flex;
          gap: px-to-rem(20px);
        
          .cart-icon, .profile-icon {
              cursor: pointer;
          }
  
          select {
              border: none;
              cursor: pointer;
              background-color: transparent;
          }
      }
  }
  