$primaryPink: rgb(242, 241, 242);
$lightShadow: rgba(0, 0, 0, 0.15);
$textColor: #333;

.popular-categories {
  position: relative;
  padding: 1rem 0;
  text-align: center;
  background-color: $primaryPink;
  margin-top: 3rem;

  h2 {
    display: flex;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    justify-content:flex-start;
    color: $textColor;
    padding-left: 2rem;
  }

  .category-card {
    background: white;
    box-shadow: 0 8px 12px $lightShadow;
    border-radius: 16px;
    overflow: hidden;
    text-align: left;
    padding: 1rem;
    box-sizing: border-box;

    img {
      max-width: calc(100% - 2rem);
      height: auto;
      display: block;
      margin: 0 auto;
      transition: transform .3s ease;
      &:hover {
        transform: scale(1.05);
      }
    }

    p {
      padding: 0.5rem 1rem; 
      font-size: 1rem;
      color: $textColor; 
      margin: 0; 
    }
  }

  a.view-all {
    position: absolute;
    top: 4rem; 
    right: 2rem;
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none; 
    color: $textColor;
    display: flex; 
    align-items: center; 
    gap: 0.5rem; 
  
    &:hover {
      color: darken($textColor, 20%);
    }
  
    .view-all-text {
      margin-right: 0.5rem; 
    }
  
    svg {
      display: block; 
    }
  }

  .slick-slide {
    outline: none; 
  }
  
  .slick-dots {
    bottom: -40px;
    li {
      margin: 0;
      button {
        &::before {
          font-size: 10px;
          color: $primaryPink;
        }
      }
    }
  }
}
